---
layout: layouts/base.njk
permalink: index.html
---
{% include "partials/header.njk" %}

<main class="wrap" id="main">
  {% include "partials/intro.njk" %}
  {% include "partials/equipment.njk" %}
  {% include "partials/benefits.njk" %}
  {% include "partials/form.njk" %}
</main>

{% include "partials/footer.njk" %}
